*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: white;
}
.header{
    background-color:rgb(216, 112, 199);
    height:100px;
    width: auto;
    
}
.nav{
    display: flex;
    align-content: space-between;
}

.logo{
    margin-right: 500px;
}
.list-container{
    display: flex;
    gap: 20px;
  align-content: space-between;
  margin: 20px;
}
.nav-list{
    list-style: none;
    text-decoration: none;
    color: white;
    display: flex;
    gap: 20px;
    align-content: space-between;
    margin-right: 300px;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: blueviolet;
    transform: .4ms;
}