*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: white;
}
.header{
    background-color:rgb(216, 112, 199);
    height:100px;
    width: auto;
    
}
.nav{
    display: flex;
    align-content: space-between;
}

.logo{
    margin-right: 500px;
}
.list-container{
    display: flex;
    gap: 20px;
  align-content: space-between;
  margin: 20px;
}
.nav-list{
    list-style: none;
    text-decoration: none;
    color: white;
    display: flex;
    gap: 20px;
    align-content: space-between;
    margin-right: 300px;
 
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: blueviolet;
    transform: .4ms;
}

.HOME{
    display: flex;
    color: black;
    align-content: space-between;
    height: 500px;
    width: auto;
    padding: 30px;
}

.home-img{
    height: 400px;
    width: auto;
   margin-top: 20px;
   margin-bottom: 30px;
   box-shadow: 10px;
}

.content{
    margin-left: 100px;
    margin-top: 100px;
}
h1{
    font-size: xx-large;
    margin-top: 20px;
}

p{
    font-size: large;
    margin-top: 40px;
}
.footer{
    background-color: black;
    height: 300px;
    width: auto;
    color: white;
    align-items: center;
    display: flex;
    align-content: space-between;
  

}
.social-media-links{
    display: flex;
    align-content: space-between;
    gap: 30px;
    align-items: center;
    margin-left: 50px;
}
.media-links{
    margin-left: 50px;
    list-style: none;
}